# Dependency directory
node_modules

.npm
.env
/dist

*.bak
.DS_Store
.vscode
.gitattributes
contracts/artifacts
cache/
build/
coverage/
coverage.json

deployments/localhost/

# Security tool related directories
flattened
tmp
secured-finance-slither.txt
secured-finance-mythril.json

# Foundry
solidity-files-cache.json
lib/