{
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
